<!DOCTYPE HTML>
<!--
    Landed by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <head>
        <title>Vegan Paradise</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="https://localhost/assets/css/main.css" />
        <noscript>
            <link rel="stylesheet" href="https://localhost/assets/css/noscript.css" />
        </noscript>
    </head>
    <body class="is-preload landing">
        <div id="page-wrapper">
            <!-- Header -->
            <header id="header">
                <h1 id="logo"><a href="index.html">Vegan Paradise</a></h1>
                <nav id="nav">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="menu.html">Menu</a></li>
                        <li>
                            <a href="#">Debug</a>
                            <ul>
                                <li><a href="form.html">Form</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="signup.html">Signup</a></li>
                                <li><a href="elements.html">Elements</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="button primary">Sign Up</a></li>
                    </ul>
                </nav>
            </header>

            <!-- Main -->
            <div id="main" class="wrapper style1">
                <div class="container">
                    <header class="major">
                        <h2>Menu</h2>
                    </header>
                    <section>
                        <div class="box alt">
                            <div class="row gtr-50 gtr-uniform">
                                <% pictureCards.forEach(card => { %>
                                <div class="col-4 col-6-xsmall">
                                    <div class="card">
                                        <a href="https://localhost/recipe_<%= card.id %>.html">
                                            <span class="image fit">
                                                <img src="https://localhost/image/<%= card.pictureId %>" alt="">
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <% }) %>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- Footer -->
                <footer id="footer">
                    <ul class="icons">
                        <li><a href="#" class="icon brands alt fa-twitter">
                                <span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon brands alt fa-facebook-f">
                                <span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon brands alt fa-linkedin-in">
                                <span class="label">LinkedIn</span></a></li>
                        <li><a href="#" class="icon brands alt fa-instagram">
                                <span class="label">Instagram</span></a></li>
                        <li><a href="#" class="icon brands alt fa-github">
                                <span class="label">GitHub</span></a></li>
                        <li><a href="#" class="icon solid alt fa-envelope">
                                <span class="label">Email</span></a></li>
                    </ul>
                    <ul class="copyright">
                        <li>&copy; Vegan Spaghetti AB. All rights reserved.</li>
                    </ul>
                </footer>
            </div>
            <!-- Scripts -->
            <script src="https://localhost/assets/js/jquery.min.js"></script>
            <script src="https://localhost/assets/js/jquery.scrolly.min.js"></script>
            <script src="https://localhost/assets/js/jquery.dropotron.min.js"></script>
            <script src="https://localhost/assets/js/jquery.scrollex.min.js"></script>
            <script src="https://localhost/assets/js/browser.min.js"></script>
            <script src="https://localhost/assets/js/breakpoints.min.js"></script>
            <script src="https://localhost/assets/js/util.js"></script>
            <script src="https://localhost/assets/js/main.js"></script>

    </body>
</html>
